@page "/all-category"
@inject ICategoryService CategoryService
@implements IDisposable
<PageTitle>Çemenardagül</PageTitle>

<section>
    <h1 class="c-2 d-flex justify-content-center my-3">Tüm Kategoriler</h1>
    <div class="mbox-wrapper">
        @foreach (var item in CategoryService.Categories)
        {
            <a href="/Category/@item.Id">
                    <div class="mbox">
                        <span class="icon mb-3">
                        @if(item.Images.Count < 1)
                        {
                            <img src="#" alt="">
                        }
                        else
                        {
                            <img src="@item.Images[0].Data" alt="">
                        }
                        </span>

                        <span class="text fw-semibold fs-5 c-2">@item.Name</span>

                    </div>
                </a>
        }
    </div>
</section>



@code {
    protected override async Task OnInitializedAsync()
    {
        await CategoryService.GetCategories();
        CategoryService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        CategoryService.OnChange -= StateHasChanged;
    }
}
