@page "/faq"
@inject IFaqService FaqService
@implements IDisposable

<section class="navigate-section">
    <div class="navigate">
        <div class="d-flex flex-column">
            <div class="d-flex align-items-center">
                <a href="#!" class="fs-4 fw-semibold c-2 me-2 text-decoration-none">Anasayfa</a>
                <img width="40" src="assets/images/icons/right-arrow.png" alt="">
                <a href="#!" class="fs-4 fw-bold c-2 ms-2 text-decoration-none">Sıkça Sorulan Sorular</a>
            </div>
            <div class="fs-4 c-2 mt-2">Çemenardagül Elektronik ve Gıda İt. İh. Tic. San. Ltd. Şti.</div>
        </div>
        <div class="d-flex align-items-center">
            <span class="c-2 d-flex align-items-center me-2">
                <i class="fa-solid fa-share-nodes fs-4 me-2"></i>
                <font class="fs-4 fw-semibold">Paylaş:</font>
            </span>
            <span class="d-flex align-items-center">
                <a href="#!" class="me-2 c-2"><i class="fa-solid fa-envelope fs-4 pt-1"></i></a>
                <a href="#!" class="me-2"><img height="31" src="assets/images/icons/wp-ico.png" alt=""></a>
                <a href="#!"><img height="29" src="assets/images/icons/telegram-ico.png" alt=""></a>
            </span>
        </div>
    </div>
</section>
<br />
<section class="custom-c-wrapper d-flex flex-column">
    <h3 class="text-center mb-4 pb-2 text-primary fw-bold">FAQ</h3>
    <p class="text-center mb-5">
        Find the answers for the most frequently asked questions below
    </p>

    <div class="row">
        @foreach(var item in FaqService.Faqs)
        {
            
        
        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary">
                <i class="far fa-paper-plane text-primary pe-2"></i> @item.Title
            </h6>
            <p>
                @item.Description
            </p>
        </div>
        }
    </div>
</section>  
    





@code {

    protected override async Task OnInitializedAsync()
    {
        await FaqService.GetFaq();
        FaqService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        FaqService.OnChange -= StateHasChanged;
    }

}
