@inject AuthenticationStateProvider AuthStateProvider
@using System.Security.Claims


@if(authorized)
{

    <a class="dropdown-item" href="admin/sub-categories-list">Sub Kategoriler</a>
    <a class="dropdown-item" href="admin/sub-category">Kategoriler</a>
@*    <a class="dropdown-item" href="admin/categories">Kategoriler</a>
*@    <a class="dropdown-item" href="/admin/product-types">Ürün Tipleri</a>
    <a class="dropdown-item" href="/admin/products">Ürünler</a>
    <a class="dropdown-item" href="/admin/about">Hakkında</a>
    <a class="dropdown-item" href="/admin/insan-kaynaklari">İnsan K.</a>
    <a class="dropdown-item" href="/admin/iletisim-hakkinda">İletisim Hk.</a>
    <a class="dropdown-item" href="/admin/iletisim-adresler">Adresler</a>
    <a class="dropdown-item" href="/admin/musteri-temsilcisi">Müşteri Hiz. No</a>
    <a class="dropdown-item" href="/admin/admin-brands">Markalar</a>
    <a class="dropdown-item" href="/admin/kvkk-metin">KVKK</a>
    <a class="dropdown-item" href="/admin/bank-accounts">Banka Hesapları</a>
    <a class="dropdown-item" href="/admin/kargo-takip-yonetimi">Kargo</a>
   @* <a class="dropdown-item" href="/admin/order-list">Siparişler</a>*@
    <a class="dropdown-item" href="/admin/iletisime-gecenler">Mesajlar</a>
    <a class="dropdown-item" href="/admin/mail-bulteni">Mail Bülteni</a>
    <a class="dropdown-item" href="/admin/slider-alani">Slider Alanı</a>
   @* <a class="dropdown-item" href="/admin/ana-sayfa-reklamlari">Reklam Alanı</a>*@
    <a class="dropdown-item" href="/admin/s-s-s-list">FAQ</a>
    <hr />
}



@code {
    bool authorized = false;

    protected override async Task OnInitializedAsync()
    {
        string role = (await AuthStateProvider.GetAuthenticationStateAsync())
        .User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role).Value;

        if(role.Contains("Admin"))
        {
            authorized = true;
        }
    }
}
