@inject IBrandService BrandService
@implements IDisposable

<section>
    <div class="bg-2 d-flex justify-content-center">
        <span class="text-white fs-1">Markalar</span>
    </div>
    <div id="carouselExampleControls" class="carousel carousel-dark slide my-5" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="wrapper">
                @foreach(var item in BrandService.Brands)
                {
                <div class="item"><img alt="" src="@item.ImageUrl"></div>
                }
            </div>
        </div>
    </div>
</section>

@code {

    protected override async Task OnInitializedAsync()
    {
        await BrandService.GetBrands();
        BrandService.OnChange += StateHasChanged;

    }

    public void Dispose()
    {
        BrandService.OnChange -= StateHasChanged;
    }

}
