<section>
    <h1 class="c-2 d-flex justify-content-center my-3">Hızlı Menü</h1>
    <div class="mbox-wrapper">
        <div class="mbox">
            <span class="icon mb-3">
                <img src="assets/images/icons/ico1.png" alt="">
            </span>
            <span class="text fw-semibold fs-5 c-2">Dirençler</span>
        </div>
        <div class="mbox">
            <span class="icon mb-3">
                <img src="assets/images/icons/ico2.png" alt="">
            </span>
            <span class="text fw-semibold fs-5 c-2">SMD Çeşitleri</span>
        </div>
        <div class="mbox">
            <span class="icon mb-3">
                <img src="assets/images/icons/ico3.png" alt="">
            </span>
            <span class="text fw-semibold fs-5 c-2">Raspberry Pi</span>
        </div>
        <div class="mbox">
            <span class="icon mb-3">
                <img src="assets/images/icons/ico4.png" alt="">
            </span>
            <span class="text fw-semibold fs-5 c-2">Bobinler</span>
        </div>
        <div class="mbox">
            <span class="icon mb-3">
                <img src="assets/images/icons/ico5.png" alt="">
            </span>
            <span class="text fw-semibold fs-5 c-2">Klemens<br>Çeşitleri</span>
        </div>
        <div class="mbox">
            <span class="icon mb-3">
                <img src="assets/images/icons/ico6.png" alt="">
            </span>
            <span class="text fw-semibold fs-5 c-2">Entegre<br>Soketleri</span>
        </div>
        <div class="mbox">
            <span class="icon mb-3">
                <img src="assets/images/icons/ico7.png" alt="">
            </span>
            <span class="text fw-semibold fs-5 c-2">Entegreler</span>
        </div>
        <div class="mbox">
            <span class="icon mb-3">
                <img src="assets/images/icons/ico8.png" alt="">
            </span>
            <span class="text fw-semibold fs-5 c-2">Display<br>Çeşitleri</span>
        </div>
        <div class="mbox">
            <span class="icon mb-3">
                <img src="assets/images/icons/ico9.png" alt="">
            </span>
            <span class="text fw-semibold fs-5 c-2">Bakır<br>Paketler</span>
        </div>
        <div class="mbox">
            <span class="icon mb-3">
                <img src="assets/images/icons/ico10.png" alt="">
            </span>
            <span class="text fw-semibold fs-5 c-2">El Aletleri</span>
        </div>
        <div class="mbox">
            <span class="icon mb-3">
                <img src="assets/images/icons/ico11.png" alt="">
            </span>
            <span class="text fw-semibold fs-5 c-2">Diyotlar</span>
        </div>
        <div class="mbox">
            <span class="icon mb-3">
                <img src="assets/images/icons/ico12.png" alt="">
            </span>
            <span class="text fw-semibold fs-5 c-2">Sensörler</span>
        </div>
    </div>

    <div class="w-100 d-flex justify-content-center position-absolute">
        <a href="#!" class="all-category text-decoration-none">
            <img src="assets/images/icons/all-category.png" alt="">
            <span class="text-white ms-2 fs-1">Tüm Kategoriler</span>
        </a>
    </div>
    <div class="allcate-wrapper"></div>
</section>

@code {

}
