@inject ICategoryService CategoryService
@implements IDisposable
<section>
    <h1 class="c-2 d-flex justify-content-center my-3">Hızlı Menü</h1>
    <div class="mbox-wrapper">
        @foreach(var item in CategoryService.Categories){
            <a href="@item.Url">
        <div class="mbox">
            <span class="icon mb-3">
                <img src="@item.ImageUrl" alt="">
            </span>
                
            <span class="text fw-semibold fs-5 c-2">@item.Name</span>
                
        </div>
            </a>
        }
    </div>
@*    <div class="w-100 d-flex justify-content-center position-absolute">
        <a href="#!" class="all-category text-decoration-none">
            <img src="assets/images/icons/all-category.png" alt="">
            <span class="text-white ms-2 fs-1">Tüm Kategoriler</span>
        </a>
    </div>*@
    <div class="allcate-wrapper"></div>
</section>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }


    protected override async Task OnInitializedAsync()
    {
        await CategoryService.GetCategories();
        CategoryService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        CategoryService.OnChange -= StateHasChanged;
    }
}
