<section class="my-5">
    <div class="custom-c-wrapper">
        <div class="row">
            <div class="intro-box-1 col me-4">
                <div class="ib-framework-1 d-flex justify-content-evenly align-items-center">
                    <div class="d-flex flex-column align-items-start">
                        <span class="bgp-text">SMD Çeşitleri</span>
                        <span class="bgw-text mt-3 d-flex align-items-center">
                            Keşfet
                            <i class="ms-4 fas fa-play fs-1 pt-2"></i>
                        </span>
                    </div>
                    <img src="assets/images/intro-img-1.png" alt="">
                </div>
            </div>
            <div class="intro-box-2 col-4">
                <div class="ib-framework-2">
                    <div class="d-flex flex-column text-white mx-5 lh-1 mt-5">
                        <span class="text-start ms-5">Elektronik</span>
                        <span class="text-end c-3">Sektörünün</span>
                        <span class="text-center">Geleceği</span>
                    </div>
                    <div class="d-flex justify-content-center mt-5">
                        <span class="bgw-text mt-3 d-flex align-items-center">
                            İncele
                            <i class="ms-4 fas fa-play fs-1 pt-2"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro-box-3">
            <div class="ib3-left">
                <div class="ib-framework-3">
                    <div class="d-flex justfiy-content-start">
                        <span class="bgp-text">Entegreler</span>
                    </div>
                    <div class="d-flex justify-content-start">
                        <a href="/entegre">
                        <span class="bgw-text mt-3 d-flex align-items-center">
                            Tıkla
                            <i class="ms-4 fas fa-play fs-1 pt-2"></i>
                        </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ib3-right">
                <div class="ib-framework-4">
                    <img src="assets/images/intro-img-3.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
@code {

}
