<section class="mb-4">
    <div class="custom-c-wrapper d-flex flex-column">
        <span class="fs-1 c-2">İletişim Formu</span>
        <form action="" class="contact-form d-flex flex-column">
            <label class="c-2 fs-5">Adınız, Soyadınız:</label>
            <input type="text">
            <label class="c-2 fs-5">E-Mail:</label>
            <input type="mail">
            <label class="c-2 fs-5">Telefon:</label>
            <input type="text">
            <label class="c-2 fs-5">Konu:</label>
            <input type="text">
            <label class="c-2 fs-5">Mesaj:</label>
            <textarea rows="5"></textarea>
            <div class="d-flex justify-content-between mt-3">
                <span>reCAPTCHA</span>
                <input class="btn-2" type="submit" value="Gönder">
            </div>
        </form>
    </div>
</section>

@code {

}
