<footer>
    <div class="footer-bg d-flex align-items-end">
        <div class="footer-inner-bg">
            <div class="quick-links py-5">
                <div class="d-flex flex-column">
                    <a href="about">Kurumsal</a>
                    <a href="contact">İletişim</a>
                    <a href="faq">Yardım</a>
                    <a href="/kargom-nerede">Kargo Takibi</a>
                </div>
                <div class="d-flex flex-column">
                    <a href="https://www.entegredunyasi.com.tr">Entegre Dünyası</a>
                    <a href="/kvkk-metni">Üyelik Sözleşmesi, KVKK Metni</a>
                    <a href="#!">İade Formu</a>
                    <a href="#!">Müşteri İlişkileri</a>
                </div>
                <div class="d-flex flex-column">
                    <a href="bank-accounts">Banka Hesapları</a>
                    <a href="#!">Ürünler</a>
                    <a href="#!">Markalar</a>
                    <a href="#!">Toplu Satış Formu</a>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-end pe-5 mb-2 footer-fix">
                <SubScribe/>
                <div class="d-flex align-items-center social-icons">
                    <a href="#!"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#!"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#!"><i class="fa-brands fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center w-100 bg-2 py-3 copyright">
        <p class="m-0 text-white fs-5 fw-semibold">© 2022 Çemenardagül | Her hakkı saklıdır. | cemenardagül.com bir Çemenardagül kuruluşudur.</p>
        <div id="yukari">
            <i class="fa fa-arrow-up"></i>
        </div>
    </div>
</footer>


@code {

}
