@inject NavigationManager  NavigationManager

<button @onclick="GoToHome" class="btn btn-outline-primary home-button">
    My Shop
</button>



   @* <div class="d-flex justify-content-between px-3">
        <div class="top-header-left py-3">
            <img class="h-logo" src="assets/images/logo.png" alt="">
        </div>
        <div class="top-header-right">
            <div class="profile-box">Ahmet Yıldız</div>
            <div class="profile-icons mb-2">
                <div class="dropdown dropstart">
                    <i class="fa-regular fa-user c-1 t-shadow-sm" type="button" data-bs-toggle="dropdown"
                       aria-expanded="false"></i>
                    <ul class="dropdown-menu me-1">
                        <li><a class="dropdown-item" href="#">Giriş Yap</a></li>
                        <li><a class="dropdown-item" href="#">Kayıt Ol</a></li>
                    </ul>
                </div>
                <div class="dropdown dropstart">
                    <i class="fa-regular fa-star c-1 t-shadow-sm" type="button" data-bs-toggle="dropdown"
                       aria-expanded="false"></i>
                    <ul class="dropdown-menu me-1">
                        <li><a class="dropdown-item" href="#">Favori Listesi</a></li>
                    </ul>
                </div>
                <div class="dropdown dropstart">
                    <i class="fa-solid fa-cart-shopping c-2 t-shadow-sm itemAmount" type="button"
                       data-bs-toggle="dropdown" aria-expanded="false"></i>
                    <ul class="dropdown-menu me-1">
                        <li><a class="dropdown-item" href="#">Sepetiniz</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>*@

@code {
    private void GoToHome()
    {
        NavigationManager.NavigateTo("");
    }
}
