@inject IResponsibilityService ResponsibilityService
@implements IDisposable

@foreach (var item in ResponsibilityService.Responsibilities)
{
    <section class="mt-4">
        <div class="custom-c-wrapper d-flex flex-column">
            <div class="d-flex flex-column mb-4">
                <div class="d-flex align-items-center">
                    <img class="me-2" src="assets/images/icons/list-ico.png" alt="">
                    <span class="fs-4 c-2 fw-bold">@item.Title</span>
                </div>
                <span class="text-dark fs-4 ms-52">@item.Details</span>
            </div>
        </div>
    </section>
}




@code {
    protected override async Task OnInitializedAsync()
    {
        await ResponsibilityService.GetResponsibility();
        ResponsibilityService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        ResponsibilityService.OnChange -= StateHasChanged;
    }
}
