@inherits LayoutComponentBase

<div class="page">
    
    <main>
        <header class="bg-header">
            <div class="d-flex justify-content-between px-3">
                <div class="top-header-left py-3">
                    <img class="h-logo" src="assets/images/logo.png" alt="">
                </div>
                <div class="top-header-right">
                    <div class="profile-box"></div>
                    <div class="profile-icons mb-2">
                        <div class="dropdown dropstart">
                            <UserButton/>
                        </div>
                        <div class="dropdown dropstart">
                            <CartCounter/>
                        </div>
                    </div>
                </div>
            </div>
            
    </header>

@*<div class="top-row px-2">
            <UserButton/>
            <CartCounter/>
        </div>*@
        <div class="nav-menu">
            <ShopNavMenu />
        </div>

            @Body
        <Footer />
    </main>
</div>
@*<script>
    $(window).scroll(function () {
    if ($(this).scrollTop() >= 350) {
        $('#yukari').fadeIn(200);
    } else {
        $('#yukari').fadeOut(200);
    }
});

$('#yukari').on('click', function () {
    $("html, body").animate({ scrollTop: 0 }, 1000);
});
</script>*@
