@inherits LayoutComponentBase

<div class="page">
    
    <main>
        <header class="bg-header">
            <div class="d-flex justify-content-between px-3">
                <div class="top-header-left py-3">
                    <a href="/">
                    <img class="h-logo" src="assets/images/logo.png" alt="">
                    </a>
                </div>
                <div class="top-header-right">
                    <NavProdileBox/>
                    <div class="profile-icons mb-2">
                        <div class="dropdown dropstart">
                            <UserButton/>
                        </div>
                        <div class="dropdown dropstart">
                            <FavCounter/>
                        </div>
                        <div class="dropdown dropstart">
                            <CartCounter />
                        </div>
                    </div>
                </div>
            </div>
            <ShopNavMenu />
    </header>
        <div class="nav-menu">
            
        </div>
       
            @Body
       
        <Footer />
    </main>
</div>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
