<section>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators custom-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <span class="sl-line"></span>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <span class="sl-line"></span>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner header-slider">
            <div class="carousel-item active">
                <img src="assets/images/motherboard-circuit-technology-remixed-media.png" class="d-block w-100"
                     alt="">
                <div class="carousel-caption custom-caption">
                    <span>Açılışa Özel <i><b>İndirim</b></i><br>Fırsatlarımızı Kaçırma</span>
                </div>
                <a href="#!" class="carousel-caption custom-caption-2 text-decoration-none">
                    <span class="d-flex align-items-center">Keşfet <i class="ms-2 fa-solid fa-play pt-1"></i></span>
                </a>
            </div>
            <div class="carousel-item">
                <img src="assets/images/motherboard-circuit-technology-remixed-media.png" class="d-block w-100"
                     alt="">
            </div>
            <div class="carousel-item">
                <img src="assets/images/motherboard-circuit-technology-remixed-media.png" class="d-block w-100"
                     alt="">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

@code {

}
