@page "/admin/ana-sayfa-reklamlari"
@inject IAdvertService AdvertService
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Admin")]

<section class="mt-4">
    <div class="custom-c-wrapper d-flex flex-column">
        @if (AdvertService.AdminAdverts == null)
        {
            <h3>Products</h3>
            <span>Loading Products</span>
        }
        else
        {
            <section class="mt-4">
                <h3>Products</h3>
                <button class="btn btn-primary float-end" @onclick="Create">
                    <i class="oi oi-plus"></i>Add a new product
                </button>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Product</th>
                            <th>Variant</th>
                            <th>Price</th>
                            <th>Visible</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <Virtualize Items="AdvertService.AdminAdverts" Context="product">
                            <tr>
                                <td><img src="@product.Image" /></td>
                                <td>@product.Title</td>
                                <td>@(product.Visible ? "✔️" : "")</td>
                                <td>
                                    <button class="btn btn-primary" @onclick="(()=>Edit(product.Id))">
                                        <i class="oi oi-pencil"></i>
                                    </button>
                                </td>
                            </tr>
                        </Virtualize>
                    </tbody>
                </table>
            </section>
        }
    </div>
</section>


@code {
    protected override async Task OnInitializedAsync() => await AdvertService.GetAdminAdverts();

    void Edit(int id)
    {
        NavigationManager.NavigateTo($"admin/ana-sayfa-reklamlari/{id}");
    }

    void Create()
    {
        NavigationManager.NavigateTo("admin/ana-sayfa-reklamlari/");
    }
}
