@page "/admin/kvkk-metin"
@inject IKvkkService KvkkService
@attribute [Authorize(Roles = "Admin")]
@implements IDisposable

<section class="mt-4">
        <div class="custom-c-wrapper">
<h3>K.V.K.K.</h3>
        <button class="btn btn-primary" @onclick="CreateNewBrand">
            <i class="oi oi-plus"></i> Yeni Metin Ekle
        </button>
<div class="header">
    <div class="col">Name</div>
    <div class="col">Details</div>
    <div class="col">Visible</div>
    <div class="col"></div>
</div>


        @foreach (var category in KvkkService.AdminKvkk)
        {
            @if (category.Editing)
            {
                <EditForm Model="editBrand" OnSubmit="UpdateBrand">
                    <div class="row">
                        <div class="col">
                            <InputText @bind-Value="editBrand.Name" class="form-control"></InputText>
                        </div>
                        <div class="col">
                            <InputTextArea @bind-Value="editBrand.Details" class="form-control"></InputTextArea>
                        </div>
                        <div class="col col-visible">
                            <InputCheckbox @bind-Value="editBrand.Visible" style="transform:scale(1.5,1.5);"></InputCheckbox>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary">
                                <i class="oi oi-cloud-upload"></i>
                            </button>
                            <button class="btn btn-primary" @onclick="CancelEditing">
                                <i class="oi oi-circle-x"></i>
                            </button>
                        </div>
                    </div>
                </EditForm>
            }
            else
            {
                <div class="row">
                    <div class="col">
                        @category.Name
                    </div>
                    <div class="col col-visible">
                        <span>@(category.Visible ? "✓" : "")</span>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary" @onclick="(()=>EditBrand(category))">
                            <i class="oi oi-pencil"></i>
                        </button>
                    </div>
                </div>
            }
        }



</div>
</section>







@code {
    BlazorApp.Shared.Kvkk editBrand = null;

    protected override async Task OnInitializedAsync()
    {
        await KvkkService.GetAdminKvkk();
        KvkkService.OnChange += StateHasChanged;
    }


    public void Dispose()
    {
        KvkkService.OnChange -= StateHasChanged;
    }

    private void CreateNewBrand()
    {
        editBrand = KvkkService.CreateKvkk();
    }

    private void EditBrand(BlazorApp.Shared.Kvkk category)
    {
        category.Editing = true;

        editBrand = category;
    }

    private async Task UpdateBrand()
    {
        if (editBrand.IsNew)
            await KvkkService.AddKvkk(editBrand);
        else
            await KvkkService.UpdateKvkk(editBrand);

        editBrand = new BlazorApp.Shared.Kvkk();
    }

    private async Task CancelEditing()
    {
        editBrand = new BlazorApp.Shared.Kvkk();
        await KvkkService.GetAdminKvkk();
    }





}
