@page "/admin/kargo-takip-yonetimi"
@inject IShipmentService ShipmentService
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Admin")]




<section class="mt-4">
        <div align="center">
        <button class="btn btn-primary float-end" @onclick="CreateShip">
            <i class="oi oi-plus"></i>Add a new ship
        </button>
<table class="table table-striped w-auto">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Country</th>
            <th>City</th>
            <th>Position</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-info">
            <th scope="row">1</th>
            <td>Kate</td>
            <td>Moss</td>
            <td>USA</td>
            <td>New York City</td>
            <td>Web Designer</td>
                    <td><a href="/admin/shipmens/1" class="btn btn-success">Güncelle</a></td>
        </tr>
    </tbody>


</table>
</div>
</section>
@code {

    void EditShip(int id)
    {
        NavigationManager.NavigateTo($"admin/shipments/{id}");
    }

    void CreateShip()
    {
        NavigationManager.NavigateTo("/admin/shipments");
    }

}
