@page "/admin/slider-settings"
@page "/admin/slider-settings/{id:int}"
@inject ISliderService SlideService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSruntime
@inject SweetAlertService swal
@attribute [Authorize(Roles = "Admin")]


<section class="mt-4">
    <div class="custom-c-wrapper d-flex flex-column">
        <div class="container">
            <h2>Horizontal form</h2>
            @if (loading)
            {
                <span>@msg</span>
            }
            else
            {
                @if (ship.Editing)
                {
                    <h3>Edit "@ship.Id"</h3>
                }
                else if (ship.IsNew)
                {
                    <h2>Create a new product</h2>
                }

                <EditForm Model="ship" class="form-horizontal" OnValidSubmit="Add">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">1. Yazı</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Kargo takip no" @bind-value="ship.Title" name="cargono">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">2. Yazı</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control"  placeholder="Çıkış Adresi Gir" @bind-value="ship.Description" name="sender">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Görsel</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control"  placeholder="Çıkış Adresi Gir" @bind-value="ship.Image" name="sender">
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="control-label col-sm-2" for="email">URL</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control"  placeholder="Çıkış Adresi Gir" @bind-value="ship.Url" name="sender">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Veri Sırası</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Çıkış Adresi Gir" @bind-value="ship.DataSlide" name="sender">
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="control-label col-sm-2" for="email">İlk sırada</label>
                        <div class="col-sm-10">
                            <InputCheckbox @bind-Value="ship.Active" style="transform:scale(1.5,1.5);"></InputCheckbox>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">@btnText</button>
                        </div>
                    </div>
                </EditForm>
               
            }
        </div>
    </div>
</section>



@code {
    [Parameter]
    public int Id { get; set; }

    Slider ship = new Slider();
    bool loading = true;
    string btnText = "";
    string msg = "Loading..";

    protected override async Task OnParametersSetAsync()
    {
        if (Id == 0)
        {
            ship = new Slider { IsNew = true };
            btnText = "Ekle";
        }
        else
        {
            Slider dbProduct = (await SlideService.GetSliders(Id)).Data;
            if (dbProduct == null)
            {
                msg = $"product with id '{Id}' does not exist";
                return;
            }
            ship = dbProduct;
            ship.Editing = true;
            btnText = "Güncelle";
        }
        loading = false;
    }


    async void Add()
    {
        if (ship.IsNew)
        {
            await SlideService.AddNewSlider(ship);
            var result = await swal.FireAsync(new SweetAlertOptions
                {
                    Title = "Kargo Oluşturuldu",
                    Text = "Kargo sisteme girildi",
                    Icon = SweetAlertIcon.Success
                });
            var confirm = !string.IsNullOrEmpty(result.Value);
            NavigationManager.NavigateTo("/admin/slider-alani");
        }
        else
        {
            ship.IsNew = false;
            await SlideService.UpdateSlider(ship);
            var result = await swal.FireAsync(new SweetAlertOptions
                {
                    Title = "Güncelleme işlemi tamam",
                    Text = "Güncellemeler işlendi",
                    Icon = SweetAlertIcon.Success
                });
            var confirm = !string.IsNullOrEmpty(result.Value);
            NavigationManager.NavigateTo($"/admin/slider-alani");
        }
    }


    private async Task CancelEditing()
    {
        ship = new Slider();
        await SlideService.GetAdminSlider();
    }








}

